h1{
    text-align: center;
    margin: 10px 0;
}

.main-page-container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    margin-top: 50px;
}

.main-page-button{
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    border: 1px solid #33333350;
    background: #33333320;
    font-size: 50px;
    transition: all .2s ease;
}

.main-page-button:hover{
    cursor: pointer;
    background: #87cdda !important;
}

.main-page-button:nth-child(1){
    border-top-left-radius: 4px;
}

.main-page-button:nth-child(2){
    border-top-right-radius: 4px;
    background: #fefefe;    
}

.main-page-button:nth-child(3){
    border-bottom-left-radius: 4px;
    background: #fefefe;
}

.main-page-button:nth-child(4){
    border-bottom-right-radius: 4px;
}

